extends base-document

block body
    body.design.design-area(data-spy='scroll' data-target='#nav-content' data-offset='76' element='body' core)
        div(element='modal-wrapper' core)
        .app
            include unsupported-browsers

            header.app-header.app-header-dark
                .top-bar
                    include header
            aside.app-aside.app-aside-expand-md.app-aside-light
                .aside-content
                    .aside-menu.overflow-hidden
                        nav#stacked-menu.stacked-menu
                            ul.menu
                               each group in sidebar
                                   li.menu-header #{group.description}
                                      each module in group.modules
                                          li.menu-item
                                              a.menu-link(href='/#{module.link}' element='#{module.link}-link')
                                                  span(class="menu-icon #{module.icon}")
                                                  span.menu-text #{module.description}
                    footer.aside-footer.border-top.p-2
                        button.btn.btn-light.btn-block.text-primary(data-toggle='skin')
                            span.d-compact-menu-none Night mode
                            i.fas.fa-moon.ml-1
            main.app-main
                div.wrapper(element='wrapper' core)
                    block content

    include footer-scripts
    include css